In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import seaborn as sb

In [4]:
Train_path = "../datasets/Occupancy_detection/data_test.txt"
Test_path = "../datasets/Occupancy_detection/data_train.txt"
train_df = pd.read_csv(Train_path)
test_df = pd.read_csv(Test_path)

In [13]:
print(train_df.shape)
print(test_df.shape)
train_df = train_df.drop(['date'], axis=1)
test_df = test_df.drop(['date'], axis=1)

(2665, 7)
(9752, 7)

In [14]:
train_df.head()

     Temperature  Humidity       Light         CO2  HumidityRatio  Occupancy
140      23.7000    26.272  585.200000  749.200000       0.004764          1
141      23.7180    26.290  578.400000  760.400000       0.004773          1
142      23.7300    26.230  572.666667  769.666667       0.004765          1
143      23.7225    26.125  493.750000  774.750000       0.004744          1
144      23.7540    26.200  488.600000  779.000000       0.004767          1

In [15]:
test_df.head()

   Temperature   Humidity       Light          CO2  HumidityRatio  Occupancy
1      21.7600  31.133333  437.333333  1029.666667       0.005021          1
2      21.7900  31.000000  437.333333  1000.000000       0.005009          1
3      21.7675  31.122500  434.000000  1003.750000       0.005022          1
4      21.7675  31.122500  439.000000  1009.500000       0.005022          1
5      21.7900  31.133333  437.333333  1005.666667       0.005030          1

In [16]:
print(train_df.isnull().sum().sum(), train_df.isna().sum().sum())

0 0

Data has no null values and no "na" values.

In [17]:
print(train_df.columns)

Index(['Temperature', 'Humidity', 'Light', 'CO2', 'HumidityRatio',
       'Occupancy'],
      dtype='object')

In [18]:
list_dtype = [train_df[i].dtype for i in train_df.columns]
dict((i, list_dtype.count(i)) for i in list_dtype)

{dtype('float64'): 5, dtype('int64'): 1}

All the columns are float type. Hence one hot encoding is not required.

In [19]:
print(train_df["Occupancy"].value_counts())

0    1693
1     972
Name: Occupancy, dtype: int64

This shows the class imbalance

In [20]:
for col in train_df.columns:
    if len(train_df[col].unique()) < 5:
        print(col)
        print(train_df.groupby([col, "Occupancy"])["Occupancy"].count())
        # break

Occupancy
Occupancy  Occupancy
0          0            1693
1          1             972
Name: Occupancy, dtype: int64